<body class="container-fluid row">

    <section>
        <div class="container py-3 vh-100">
            <div class="card bg-transparent bg-">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://akabia.fr/sites/default/files/styles/blog_post/public/zen.jpg?itok=kHMehoie"
                            class="w-100">
                    </div>
                    <div class="col-md-8 px-3">
                        <div class="card-block px-3 text-bg-secondary">
                            <h4 class="card-title">Bienvenue dans ma boutique!</h4>
                            <p class="card-text">Le hang (prononciation allemande : [haŋ] ; pluriel : hanghang) est un
                                instrument de musique acoustique de la famille des idiophones inventé par Felix Rohner
                                et Sabina Schärer à Berne en Suisse en 2000. Le hang est un volume lenticulaire creux
                                composé de deux coupelles métalliques embouties. La partie haute de l'instrument
                                s'appelle le « ding », elle est constituée d'une note fondamentale et de sept ou huit
                                notes l'entourant. La partie basse, « gu » est une surface lisse dotée d'un trou en son
                                centre.</p>
                            <p class="card-text">Le hang est très proche du handpan et, par antonomase, le mot « hang » est souvent utilisé à tort pour désigner l'ensemble des handpans alors qu'il s'agit d'une marque déposée de l'entreprise PANArt.</p>
                            <a routerLink="/contact" class="btn text-bg-secondary">Une demande particulière? ... Nous contacter!
                                (cliquez)</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>




</body>